.simple-phone-input-sri198-container {
    position: relative;
}

.simple-phone-input-sri198-container:focus,
.simple-phone-input-sri198-container:focus-visible,
.simple-phone-input-sri198-container:focus-within {
    outline: none;
}

.simple-phone-input-sri198-main {
    display: flex;
    border: 1px solid rgb(203 203 203);
    user-select: none;
    border-radius: 3px;
}

.simple-phone-input-sri198-dropdown-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    background: rgb(231 231 231);
    border-right: 1px solid rgb(203 203 203);
}

.simple-phone-input-sri198-dropdown-container img {
    margin-right: 6px;
}

.simple-phone-input-sri198-dropdown {
    background: white;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    height: 250px;
    overflow-y: auto;
    box-shadow: 0px 4px 15px rgb(163 163 163);
    border-radius: 3px;
    transition: 0.3s ease;
    transform: translateY(-5px);
    opacity: 0;
    visibility: hidden;
}

.simple-phone-input-sri198-dropdown.active {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
}

.simple-phone-input-sri198-dropdown li {
    margin: 3px 0;
    padding: 3px 8px;
    display: flex;
}

.simple-phone-input-sri198-dropdown li.active {
    background: rgba(0, 0, 0, 0.116);
}

.simple-phone-input-sri198-dropdown li:hover {
    background: rgba(0, 0, 0, 0.116);
}

.simple-phone-input-sri198-dropdown li img {
    margin-right: 6px;
}

.simple-phone-input-sri198-dropdown-container-button {
    display: flex;
    flex: 1;
    width: 92px;
    padding: 7px 2px 7px 7px;
    align-items: center;
}

.simple-phone-input-sri198-dropdown-container-button.dial {
    width: unset;
    padding: 8px 3px 8px 8px;
}

.simple-phone-input-sri198-dropdown-text {
    font-size: 15px;
    flex: 1;
    margin-top: 3px;
}

.simple-phone-input-sri198-dropdown-country-code {
    opacity: 0.6;
    margin-top: 3px;
}

.simple-phone-input-sri198-dropdown-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.simple-phone-input-sri198-dropdown-icon svg {
    transition: 0.3s ease;
}

.simple-phone-input-sri198-dropdown-icon.active svg {
    transform: rotate(-180deg)
}

.simple-phone-input-sri198-selected-code {
    flex: 1;
    font-size: 14px;
    margin-top: 2px;
}

.simple-phone-input-sri198-input {
    width: 100%;
    border: none;
    padding: 0 10px;
}

.simple-phone-input-sri198-input:focus {
    outline: none;
}

.simple-phone-input-sri198-search-container {
    padding: 5px;
    position: relative;
}

.simple-phone-input-sri198-search-container input {
    border: 1px solid rgba(0, 0, 0, 0.116);
    padding: 8px 10px;
    width: 100%;
    font-size: 15px;
    border-radius: 2px;
}

.simple-phone-input-sri198-search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    pointer-events: none;
}

.simple-phone-input-sri198-search-icon svg {
    font-size: 20px;
}

.simple-phone-input-sri198-not-found {
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
    color: #f73131;
}

.simple-phone-input-sri198-search-container input:focus {
    outline: none;
}